<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>
    {% block title %}
      Ruben's Lair 
    {% endblock title %}
  </title>

  {% block head %}
    <meta name="description" content="Ruben's Personal web page">
    <meta name="author" content="Ruben Paz">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quantico" rel="stylesheet">
 	  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css">
  {% endblock head %}
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <section class="landing">
    <div class="landing_bg">
      <div class="full-h scroll">
        <div class="container">
        <!-- TODO: Make this menu responsive--!>
        <div class="row justify-content-end mb-5 p-2">
        {% for menu in config.extra.menu %}
            <a class="col-md-auto" href="{{ menu.path }}">{{ menu.title }}</a>
        {% endfor %}
        </div>
          {% block content %}
            {{ section.content | safe }}
          {% endblock content %}
        </div>
      </div>
    </div>
  </section>
<!--
  <script src="index.js"></script>
  <noscript>JavaScript must be enabled to visualise this site</noscript>
  --!>
</body>
</html>
