{% extends "base.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}
    {{ section.content | safe }}

    {% set blog_section = get_section(path="blog/_index.md") %}
    {% if blog_section.pages %}
    <section class="recent-posts">
        <h2>Recent Blog Posts</h2>
        {% for page in blog_section.pages %}
            {% if loop.index0 < 3 %}
                {{ post_macros::page_in_list_condensed(page=page) }}
            {% endif %}
        {% endfor %}
        <div class="button-container">
            <a href="{{ get_url(path="@/blog/_index.md") }}" class="button">View All Posts</a>
        </div>
    </section>
    {% endif %}

{% endblock content %}
